{% extends 'home.html' %} 

{% block title %}Home{% endblock %} 

{% block content %}


{% if user.is_authenticated %}
    <p>Welcome, {{ user.username }}. Thanks for logging in.</p>
    <a href="{% url 'new_message' %}">New message</a>

    <h1>Last messages</h1>
    <!-- Messages from authenticated user (ignore replies) -->
    {% for message in messages %}
      {% if not message.origin %}
        <ul>
          <h5>Original Message</h5>
          <a href="{% url 'profile' message.user.username %}">{{ message.user.username }}</a>
          {{ message.publication_date }}
          <p>{{ message.content }}</p>
          <a href="{% url 'message_detail' message.id %}">Detail</a>
          <br>
          <a href="{% url 'reply' message.id %}">Reply</a> - Like - Republish
          <br>______________________
        </ul>
      {% endif %}
    {% endfor %}

    <!-- Messages from followed accounts -->
    {% for message in followed_messages %}
      <ul>
        <h5>Follower Message</h5>
        <a href="{% url 'profile' message.user.username %}">{{ message.user.username }}</a>
        {{ message.publication_date }}
        <p>{{ message.content }}</p>
        ______________________
      </ul>
    {% endfor %}
   

{% else %}
    <p>Welcome, new user. Please log in.</p>
{% endif %}

{% endblock %}
