{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
    <div class="userprofile">
        <div  class="biography">
            {{ user }}
            <a href="">Edit profile</a> - <a href="">Follow</a>
            {{ user.biography }}
            <br>{{ nb_published_messages }} message(s) published
            <br>{{ followeds }} subscription(s) | {{ followers }} Follower(s)
        </div>
        <div class="messages">
            <ul>
                <div  class="message">
                {% for message in user_messages %}
                {% if not message.origin %}
                  <ul>
                    <a href="{% url 'profile' message.user.username %}">{{ message.user.username }}</a>
                    {{ message.publication_date }}
                    <p>{{ message.content }}</p>
                    <a href="{% url 'message_detail' message.id %}">Detail</a>
                    <br>
                    <a href="{% url 'reply' message.id %}">Reply</a> 
                    -
                    <form method="POST" action="{% url 'like' message.id %}">
                        {% csrf_token %}
                        <button type="submit" name="message_id" value="{{ message.id }}">Like</button>  {{ message.total_likes }} like(s)
                    </form> 
                    - Republish
                    <br>______________________
                  </ul>
                {% endif %}
              {% endfor %}
                </div>
            </ul>
        </div>
    </div>
{% endblock %}